{% extends "master.html" %}

{% block title%} User List {% endblock %}

{% block content %}

    <div>
        Hello from django <br>

        <h2 class="shadow">Here is the django prj</h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Last name
     
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Email
   
                    </div>
                </th>     
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Details
      
                    </div>
                </th> 
            </tr>
        </thead>

        {% for x in users %}
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{x.firstName}}
                </th>
                <td class="px-6 py-4">
                    {{x.lastName}}
                </td>
                <td class="px-6 py-4">
                    {{x.email}}
                </td>
               
                <td class="px-6 py-4 text-right">
                    <a href="/details/{{x.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                </td>
            </tr>
           
        </tbody>

        {%  endfor %}
    </table>
</div>

</div>
{% endblock %}