{% extends "master.html" %}

{% block title%} User List {% endblock %}

{% block content %}

<div>
       

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    No
                </th>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Last name
     
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Email
   
                    </div>
                </th>     
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Details
      
                    </div>
                </th> 

                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Edit
                    </div>
                </th>
            </tr>
        </thead>

        {% for x in users %}
        
        <tbody>
           
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700  {% if forloop.counter|divisibleby:2 %}

            bg-red-100

            {% else %}

            bg-blue-100  {% endif %} "

            >
                <td>{{ forloop.counter }}</td>

               
                
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{x.firstName}}
                </th>
                <td class="px-6 py-4">
                    {{x.lastName}}
                </td>
                <td class="px-6 py-4">
                    {{x.email}}
                </td>
               
                <td class="px-6 py-4 text-right">
                    <a href="/details/{{x.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                </td>

                <td class="px-6 py-4 text-right">
                    <!-- Edit button triggers modal -->
                    <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" >Edit</button>
                </td>
            </tr>
           
        </tbody>

        {% empty %}

        <div>No user </div>

        {%  endfor %}
    </table>
</div>

</div>



{% endblock %}