{% extends 'master.html' %}


{% block title %} Login {% endblock %}

{% block content %}


<div class="border-2 border-red-600 w-full flex items-center justify-center">
   

    <div class=" w-1/2 shadow-md mt-8 px-4 py-8"  >
        <h1 class="text-4xl font-bold">LOGIN</h1>
        <form  method="post">
            {% csrf_token %}
            <div class="mb-4 ">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="email" class="h-14 w-full rounded-md p-2 outline-none">
            </div>

            <div class="mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" class="h-14 w-full rounded-md p-2 outline-none">
            </div>

            <div class="">
             <button type="submit" class="bg-blue-600 text-white outline-none rounded-md p-2 px-12">Login</button>
            </div>

        </form>
    </div>
</div>





{% endblock %}